main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

table {
  width: 100%;
}

#after {
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  background-color: transparent;
  border: none;
  outline: none;
  background-repeat: no-repeat;
  overflow: hidden;
}

#after:hover {
  color: red;
  border: none;
}
