body {
  min-width: 370px;
  background-image: url("flag-2027537_960_720.png");
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

table {
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.527);
}

#standingsTB tr:nth-child(1) {
  background-color: rgba(255, 255, 0, 0.527);
}
#standingsTB tr:nth-child(2) {
  background-color: rgba(121, 121, 121, 0.527);
}

#standingsTB tr:nth-child(3) {
  background-color: rgba(255, 166, 0, 0.527);
}

#headline {
  font-size: 1.7em;
  font-weight: bold;
}

#after {
  color: yellow;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  background-color: transparent;
  border: none;
  outline: none;
  background-repeat: no-repeat;
  overflow: hidden;
}

#after:hover {
  color: red;
  border: none;
}
